{% extends 'base.html.twig' %}

{% block body %}

<div class="home">
    <h1>Pokinator</h1>

    <p>Un Akinator sur la 1ère génération de Pokémon</p>

    <a href="{{ path('game') }}" class="btn-danger btn-lg">Play The Game</a>
</div>

{% endblock %}
