{% extends 'base.html.twig' %}

{% block body %}
<style>
    .home { margin: 1em auto; max-width: 800px; width: 95%; font-family: 'Poppins', sans-serif; }
</style>

<div class="home">
    <h1>Pokinator</h1>

    <p>Un Akinator sur la 1ère génération de Pokémon</p>
</div>

{% endblock %}
