{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Question</h3>
        <ul>
            <li>Oui</li>
            <li>Non</li>
            <li>Je ne sais pas</li>
        </ul>
    </div>

    <div class="container">
        <a href="{{ path('home') }}" class="btn-danger btn-lg">Back Home</a>
    </div>
{% endblock %}
