{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Question</h3>
        <ul>
            <li>{{ 'label.yes' | trans}}</li>
            <li>{{ 'label.no' | trans}}</li>
            <li>{{ 'label.dont_know' | trans}}</li>
        </ul>
    </div>

    <div class="container">
        <a href="{{ path('home') }}" class="btn-danger btn-lg">Back Home</a>
    </div>
{% endblock %}
